*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: #1e1e1e;
    padding: 22px;
    margin: 0;
}
.list-items{
    display: inline;
    font-size: 1.2rem;
}
nav a{
    padding: 22px;
    text-decoration: none;
    background-color: #1e1e1e;
    color: whitesmoke;
    font-weight: bold;
}
nav a:hover{
    background-color: whitesmoke;
    color: #1e1e1e;
}
#main-heading{
    padding: 30% 0;
    text-align: center;
    font-size: 2rem;
    color: #000;
    background: linear-gradient(90deg, #80b3ff, #ff8080);
}
#showcase{
    padding: 6% 0;
    text-align: center;
    font-size: 1.2rem;
    color: #f4f4f4;
    background-color: #03176E;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3%;
    margin: 7%;
}
.project-link{
    text-decoration: none;
    color: #FFFFFF;
}
.project-link .hidden-text{
    color: #03176E;
}
.project-link:hover .hidden-text{
    color: darkorange;
}
.ext-link{
    padding: 1%;
    font-size: 1.5rem;
    background-color: #1065D4;
    color: #ffffff;
    border-radius: 10%;
} 
.ext-link:hover{
    color: #1065D4;
    background: #f4f4f4;
}
#contact{
    padding: 20% 0;
    text-align: center;
    font-size: 1.5rem;
    color: #f4f4f4;
    background-color: #910F2C;
}
.contact{
    padding: 2%;
}
.contact:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.footer-hr{
    margin: 0;
    padding: 0;
    background-color: #7d7d7d;
    border: none;
    color: #1e1e1e;
}
.footer-text{
    padding: 5%;
    text-align: center;
    background: #1e1e1e;
    color: whitesmoke; 
}