@media screen and (max-width: 730px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;    
    }

    body{
        font-size: 20px;
    }

    nav{
        padding: 2vh 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name{
        margin: 10px;
    }

    .container{
        height: 90vh;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    img{
        height: 200px;
        width: 200px;
    }

    .intro{
        padding: 0 5vw;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .left{
        margin: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 15px;
    }

    .right{
        margin: 2vh 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
    }

    .copy-text{
        padding-top: 20px;
    }
}