$bg-color-1: #1A1A2E;
$bg-color-2: #16213E;
$bg-color-3: #0F3460;
$bg-color-4: #DD4A48;
$text-color-1: #fff;
$font-family: 'Poppins', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    ::selection {
        color: black;
        background: yellow;
    }
}

html{
    margin: 0 auto;
    max-width: 80rem;
    overflow-x: hidden;
    background: radial-gradient(#000, $bg-color-2);
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.left{
    position: fixed;
    top: 30vh;
    ul{
        list-style: none;
        li{
            margin-bottom: 1rem;
            padding: 1rem 2rem;
            background-color: #000;
            a{
                font-size: 1.25rem;            
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.right{
    width: 80%;
    margin-left: auto;
    header{
        padding: 20vh 0 10vh 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: $font-family;
        color: #fff;
        h1{
            font-size: 5rem;
            font-weight: 300;
        }
        .selectedT{
            font-size: 5rem;
            font-weight: 600;
            background: #f7ff00; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f7ff00, #db36a4); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f7ff00, #db36a4);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    canvas{
        margin: 0 auto;
    }    
}
