*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    text-align: center;
    color: #ddd;
    background: #232323;

    h1{
        margin: 1rem;
        letter-spacing: .25rem;
    }
}