* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../assets/bg-2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/bg-2.jpg");
  background-size: cover;
}

nav {
  margin: 0 auto;
  width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 1rem 2rem;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 200;
  color: #efefef;
  text-decoration: none;
  letter-spacing: .125rem;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    width: 100%;
  }
  nav ul li {
    margin: 1rem auto;
  }
}

header {
  margin: 0 auto;
  width: 80rem;
  padding: 0 2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  width: 75%;
  margin: 15rem 5rem 1rem 0;
  font-size: 4rem;
  color: #efefef;
}

header p {
  margin-top: 2rem;
  font-size: 2rem;
  color: #efefef;
}

@media screen and (max-width: 600px) {
  header {
    padding: 1rem;
    width: 100%;
  }
  header h1 {
    margin-top: 13rem;
    font-size: 2rem;
  }
  header p {
    font-size: 1rem;
  }
}

.work {
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 80rem;
}

.work h2 {
  margin: 5rem 0 0 0;
  font-size: 3rem;
  font-weight: 400;
}

.work .project, .work .project1 {
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #efefef;
}

.work .project .info, .work .project1 .info {
  margin: 0 2rem;
  font-weight: 300;
}

.work .project .info h3, .work .project1 .info h3 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}

.work .project .info p, .work .project1 .info p {
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 300;
}

.work .project .info ul, .work .project1 .info ul {
  list-style: inside;
}

.work .project .info li, .work .project1 .info li {
  margin: .5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.work .project .poster, .work .project1 .poster {
  width: 75rem;
  height: 35rem;
  overflow: hidden;
}

.work .project .poster img, .work .project1 .poster img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  -o-object-fit: contain;
     object-fit: contain;
}

.work .project .poster img:hover, .work .project1 .poster img:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.work .project1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.work .project1 .info {
  margin: 0 3rem;
}

@media screen and (max-width: 600px) {
  .work {
    width: 100%;
  }
  .work h2 {
    margin: 2rem 0 0 0;
    font-size: 2rem;
  }
  .work .project, .work .project1 {
    margin: 2rem 0;
    padding: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .work .project .info, .work .project1 .info {
    margin: 0 1rem;
  }
  .work .project .info h3, .work .project1 .info h3 {
    font-size: 1.5rem;
  }
  .work .project .poster, .work .project1 .poster {
    height: 10rem;
  }
  .work .project .poster img, .work .project1 .poster img {
    width: 100%;
  }
}

.open {
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 80rem;
}

.open h2 {
  margin: 5rem 0 0 0;
  font-size: 3rem;
  font-weight: 400;
}

.open p {
  margin: 3rem 0;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .open {
    width: 100%;
  }
  .open h2 {
    margin: 5rem 0 0 0;
    font-size: 2rem;
  }
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .row {
  margin: 1rem 0;
  width: 10rem;
}

.showcase .row img {
  margin: 1rem 0;
  width: 100%;
  background-size: contain;
}

.hire {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #Ebf6f7;
  text-align: center;
}

.hire p {
  font-size: 2rem;
}

.hire button {
  margin: 3rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(180deg, #ff416c, #ff4b2b);
  color: #fff;
  letter-spacing: .3rem;
  border: none;
  border-radius: 4rem;
}

@media screen and (max-width: 600px) {
  .hire {
    height: auto;
  }
  .hire p {
    margin: 3rem 1rem 0 1rem;
    font-size: 1.5rem;
  }
  .hire button {
    margin: 2rem 1rem 3rem 1rem;
    font-size: 1rem;
  }
}

footer {
  height: 50vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/bg-1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/bg-1.jpg");
  background-position: center top;
  background-size: cover;
}

footer h2, footer p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 200;
  color: #efefef;
}

footer h2 {
  font-size: 2rem;
  font-weight: 300;
}

footer .social-link {
  margin: 2rem 1rem;
  width: 3rem;
}

footer .copy {
  color: #777;
}

@media screen and (max-width: 600px) {
  footer {
    height: auto;
  }
  footer h2 {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer .social-link {
    width: 2rem;
  }
}

.underline {
  width: 7rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(180deg, #ff416c, #ff4b2b);
  border-radius: 1rem;
}

.grad-text {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(180deg, #ff416c, #ff4b2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=styles.css.map */